<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>Is accepted:</b>
  <%= @answer.is_accepted %>
</p>

<p>
  <b>Accepted by:</b>
  <%= @answer.accepted_by %>
</p>


<%= link_to 'Edit', edit_admin_answer_path(@answer) %> |
<%= link_to 'Back', admin_answers_path %>
