<%= form_for @user, :url => { :action => 'register' }, :html =>  { :class => 'register', :id => 'registration_form' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= flash[:notice] %></p>

  <div class="content clearfix">
    <p class="label">
      <%= f.label :name %>
    </p>
    <div class="data">
      <p>
        <%= f.text_field :name, :class => 'field', :id => 'username' %>
      </p>
      <p class="model-note">
        Please provide at least <strong>3</strong> characters
      </p>
    </div>
    <div class="clear"></div>
    <p class="label">
      <%= f.label :password %>
    </p>
    <div class="data">
      <p>
        <%= f.password_field :password, :class => 'field' %>
      </p>
      <p class="model-note">
        Please provide at least <strong>6</strong> characters
      </p>
    </div>
    <div class="clear"></div>
    <p class="label">
      <%= f.label :password_confirmation %>
    </p>
    <div class="data">
      <p>
        <%= f.password_field :password_confirmation, :class => 'field' %>
      </p>
      <p class="model-error">

      </p>
    </div>
    <div class="clear"></div>
    <p class="label">
      <%= f.label :email %>
    </p>
    <div class="data">
      <p>
        <%= f.text_field :email %>
      </p>
      <p class="model-note">
        <i>(Optional, never shown) - just in case You forgot about sth :)</i>
      </p>
      <p class="model-error">

      </p>
    </div>
    <div class="clear"></div>
    <p class="label captcha-label">
      <label for="recaptcha">Type text from the image:</label>
    </p>
    <div class="data">
      <p>
      </p>
      <p class="model-error">

      </p>
    </div>
    <div class="clear"></div>
    <div class="buttons">
      <input type="submit" class="submit" value="Register" />
    </div>
  </div>
<% end %>
