<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :open_identifier %><br />
    <%= f.text_field :open_identifier %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br />
    <%= f.text_field :reputation %>
  </div>
  <div class="field">
    <%= f.label :is_banned %><br />
    <%= f.check_box :is_banned %>
  </div>
  <div class="field">
    <%= f.label :last_seen_on %><br />
    <%= f.datetime_select :last_seen_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
